<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @intervention.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @intervention.duration %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @intervention.calendar.name %>
</p>

<%= link_to 'Edit', edit_admin_intervention_path(@intervention) %> |
<%= link_to 'Back', admin_interventions_path %>
